body {
  background-color: #f8f9fa;
}
body.dark-mode {
  background-color: #121212 !important;
  color: #f1f1f1 !important;
}

body.dark-mode .card {
  background-color: #1e1e1e;
  color: #eaeaea;
}

body.dark-mode .navbar {
  background-color: #1a1a1a !important;
}
